<div class="ui {{isLoggedIn()? 'five':'three'}} violet secondary pointing menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="offers" routerLinkActive="active" class="item">Offers</a>
  <a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActivate="active" class="item">Angebot erstellen</a>
  <a *ngIf="isLoggedIn()" routerLink="profile" routerLinkActivate="active" class="item">Profil</a>

  <a routerLink="login"routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>

<router-outlet></router-outlet>
