<div class="ui grid" *ngIf="offer">
  <div class="twelve wide column">
    <h1 class="ui header">{{ offer.title }}</h1>
    <h3 class="ui header">Fach: {{ offer.subject }}</h3>
    <div class="ui grid">
      <div class="sixteen wide column">
        <h3 class="ui header">Beschreibung</h3> {{offer?.description }}
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui divider"></div>
<div class="content">
  <h2>verfügbare Termine:</h2>
  <div class="ui horizontal segments">
    <div *ngFor="let appointment of offer.appointments">
      <div *ngIf="!appointment.user_id">
        <div class="ui segment">
          <h3 class="ui header">Datum: {{appointment.date}}</h3>
          <h3 class="ui header">Zeit: {{appointment.time}}</h3>
          <p><i>Termine dauern in der Regel 1,5 Stunden!</i></p>
          <button class="ui tiny violet labeled icon button" (click)="bookAppointment(appointment)">
            <i class="calendar plus outline icon"></i> Termin jetzt verbindlich buchen
          </button>
          <button class="ui tiny violet labeled icon button" (click)="removeAppointment(appointment)" >
            <i class="calendar plus outline icon"></i> Termin löschen
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div>
  <button class="ui tiny red labeled icon button" (click)="removeOffer()">
    <i class="remove icon"></i> Angebot löschen
  </button>
  <button class="ui tiny yellow labeled icon button" [routerLink]="['../../admin', offer?.id]">
    <i class="write icon"></i> Angebot bearbeiten
  </button>
  <button [routerLink]="'/offers'" class="ui violet button">
    Zurück zur Nachhilfeliste
  </button>

  <h3>Nicht der richtige Termin dabei? Dann schreib hier eine Nachricht:</h3>
  <form class="ui form-group large form" [formGroup]="commentForm" (ngSubmit)="submitComment()">
    <div class="field">
      <label>Titel</label>
      <input formControlName="title">
    </div>
    <div class="field">
      <label>Nachricht</label>
      <textarea formControlName="commenttext" rows="3"></textarea>
    </div>
    <button type="submit" class="ui button">Speichern</button>
  </form>


  <div class="content">
      <div class="ui comments">
        <h3 class="ui dividing header">Kommentare: </h3>
      <div *ngFor="let comment of offer.comments">
        <div class="comment">
          <a class="avatar">
            <img src="../../assets/woman.png">
          </a>
          <div class="content">
            <a class="author">{{comment.user_id}}</a>
            <div class="metadata">
              <span class="date">{{comment.created_at}}</span>
            </div>
            <div class="text">
              {{comment.commenttext}}
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>
      </div>
      </div>
  </div>

