<div class="ui container">
<h1>Angebotsformular</h1>

<form class="form-group ui large form" [formGroup]="offerForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel</label>
    <input formControlName="title">
    <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
  </div>
  <div class="field">
    <label>Fach</label>
    <input formControlName="subject">
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>

  <!--appointments-->
  <div class="field">
    <label>Appointments - Termine</label>
    <div formArrayName="appointments">
      <div class="form-group fields" *ngFor="let control of appointments.controls; index as i; last as l" [formGroupName]="i">

        <input type="hidden" formControlName="id">
        <div class="field">
          <input type="date" formControlName="date"> <!--pattern="\d{4}-\d{2}-\d{2}"-->
        </div>
        <div class="field">
          <input type="time" formControlName="time">
        </div>

        <!--add appointment button-->
        <div class="one wide field" *ngIf="l">
          <button (click)="addAppointmentControl()" class="ui large button" type="button">+</button>
        </div>

      </div>
  </div>
  <div *ngIf="errors['appointments']" class="ui negative message">{{ errors['appointments'] }}
  </div>
  </div>
  <button type="submit" class="ui button" [disabled]="offerForm.invalid">Speichern</button> </form>
</div>
